<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Tax | Hotel Accounting</title>
  <link rel="stylesheet" href="./dashboard.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>
<body>
  <%- include('partials/sidebar') %>

  <div class="main-content">
    <div class="header-section">
      <h1>Tax Calculations</h1>
      <select id="yearSelect" onchange="changeYear(this.value)">
        <option value="2023" <%= selectedYear === 2023 ? 'selected' : '' %>>2023</option>
        <option value="2024" <%= selectedYear === 2024 ? 'selected' : '' %>>2024</option>
        <option value="2025" <%= selectedYear === 2025 ? 'selected' : '' %>>2025</option>
      </select>
    </div>
    <div class="summary-cards">
      <div class="card revenue">
        <h3>Cooperate Tax</h3>
        <p class="amount">₺<%= cooperateTax %></p>
      </div>
      <div class="card expense">
        <h3>Income Tax</h3>
        <p class="amount">₺<%= incomeTax %></p>
      </div>
      <div class="card gross-profit">
        <h3>VAT/KDV</h3>
        <p class="amount">₺<%= vatDifference %></p>
      </div>
      <div class="card net-profit">
        <h3>Accommodation Tax</h3>
        <p class="amount">₺<%= totalAccommodationTax %></p>
      </div>
      <div class="card net-profit">
        <h3>Cooperate Net Income</h3>
        <p class="amount <%= cooperateNetIncome >= 0 ? 'positive' : 'negative' %>">₺<%= cooperateNetIncome %></p>
      </div>
      <div class="card net-profit">
        <h3>Individual Net Income</h3>
        <p class="amount <%= individualNetIncome >= 0 ? 'positive' : 'negative' %>">₺<%= individualNetIncome %></p>
      </div>
    </div>
  </div>

  <script>
    function changeYear(year) {
      window.location.href = `/tax?year=${year}`;
    }
  </script>
</body>
</html>
